body{
    margin: 0 auto;
    background-image: url("../../backr.jpg");
    background-repeat: no-repeat;
    background-size: 100% 920px;
   }
     
   .container{
    width: 500px;
    height: 790px;
    text-align: center;
    margin: 0 auto;
    background-color: rgba(44, 62, 80,0.7);
    margin-top: 10px;
    margin-bottom: 10px;
   }
   
   fieldset {
    padding:0 20px 20px 20px;
    margin-bottom:10px;
    border:1px solid rgb(18, 5, 49);
    }
   legend {
    color:rgb(18, 5, 49);
    font-weight:bold
    }
   label {
    margin-top:10px;
    display:block;
    display:inline;
    }
    label.inline {
    display:inline;
    
    }
   input, textarea, select {
    padding:3px;
    color: white;
     border: none;
     outline: none;
     background: none;
     border-bottom: 1px solid #320441;
    width:200px;
    
    }
    .btn{
        border-radius: 5px;
        background-color: #320441;
        cursor: pointer;
    }
    h1{
   margin-left: 45%;
   color: #320441;
    }