{% extends 'base.html.twig' %}

{% block title %}About Us{% endblock %}

{% block body %}
<style>
      body{
 margin: 0 auto;
 background-image: url("{{asset('img/backr.jpg')}}");
 background-repeat: no-repeat;
 background-size: 100% 720px;
}
  
.container{
 width: 500px;
 height: 550px;
 text-align: center;
 margin: 0 auto;
 background-color: rgba(44, 62, 80,0.7);
 margin-top: 5px;
}

</style>

<div class="container"  style="height:650px">
    <img src="img/Q.png" style="width:300px;height:300px;"/><br><br>
    <b>QUIZLET</b> is an application developped by <br><br> <b>Benazzi Hind</b> to help students test their knowledges 
    and prepare for<br><br> their exams and also contribute and help others by creating new <br><br>quizes <br><br><br><br>
    {{ form_start(form) }}
     rate us:
     <span  onmouseover="starmark(this)" onclick="starmark(this)" id="1one" style="font-size:40px;cursor:pointer;"  class="fa fa-star checked"></span>
     <span onmouseover="starmark(this)" onclick="starmark(this)" id="2one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
     <span onmouseover="starmark(this)" onclick="starmark(this)" id="3one"  style="font-size:40px;cursor:pointer;" class="fa fa-star "></span>
     <span onmouseover="starmark(this)" onclick="starmark(this)" id="4one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
     <span onmouseover="starmark(this)" onclick="starmark(this)" id="5one"  style="font-size:40px;cursor:pointer;" class="fa fa-star"></span>
     <br/><br><br>
     
     <button  type="submit" style="margin-top:10px;margin-left:5px; width: 300px; border:2px solid black; padding: 15px 25px; color:white; 
     background:none;cursor: pointer; color: rgb(22, 22, 22);" class="btn btn-lg btn-success">Submit</button><br><br>
     {{ form_widget(form.Rating, { 'id': 'rate' } ) }}
     {{ form_end(form) }} 
    
     <script>
     var count;
     
     function starmark(item)
     {
     count=item.id[0];
     sessionStorage.starRating = count;
     var subid= item.id.substring(1);
     for(var i=0;i<5;i++)
     {
     if(i<count)
     {
     document.getElementById((i+1)+subid).style.color="orange";
     }
     else
     {
     document.getElementById((i+1)+subid).style.color="black";
     }
     
     
     }
     document.getElementById("rate").value=count;
     }
     
     </script>
 </div> 
{% endblock %}
